@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .react-datepicker {
  background-color: #1f2937; 
  border-color: #4b5563; 
}
.dark .react-datepicker__header {
  background-color: #111827;
  border-bottom-color: #4b5563;
}
.dark .react-datepicker__current-month,
.dark .react-datepicker-time__header,
.dark .react-datepicker-year-header,
.dark .react-datepicker__day-name,
.dark .react-datepicker__day {
  color: #d1d5db;
}
.dark .react-datepicker__day:hover {
  background-color: #374151;
}
.dark .react-datepicker__day--selected,
.dark .react-datepicker__day--keyboard-selected {
  background-color: #2563eb;
  color: white;
}
.dark .react-datepicker__input-container input {
  background-color: inherit;
}